{{#if currentUser}}
    <a href="/auth/logout">Logout</a>
    <a href="/rooms/create">New Room</a>
    <h2>Welcome, {{currentUser.fullName}}!</h2>
{{else}}
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <h1>{{appTitle}}</h1>
{{/if}}
{{#if allRooms}}
<h3>Rooms:</h3>
<p>You can only edit/delete rooms if you're the owner of the room </p>
<ul>
{{#each allRooms}}
    <li>
        <p><strong>{{name}}</strong></p>
        <p>Description: {{description}}</p>
        <a href="/reviews/{{_id}}/review">Add a comment</a>
        <a href="/rooms/{{_id}}/edit">Edit Room</a>
        {{#if errorMessage}}
            <p>{{errorMessage}}</p>
        {{/if}}
        <form action="/rooms/{{_id}}/delete" method="POST">
            <button type="submit">Delete Room</button>
        </form>
    </li>
{{/each}}
</ul>
{{/if}}